Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.23
Werkzeug==0.15.3
gunicorn==18.0
itsdangerous==0.24
lxml==3.3.5
requests==2.3.0
flask-compress==1.4.0
## The following requirements were added by pip freeze:
appdirs==1.4.0
packaging==16.8
pyparsing==2.1.10
six==1.10.0
