@font-face {
	font-family: 'Go';
	src: url('../fonts/GoMedium-Italic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Go';
	src: url('../fonts/Go-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Go';
	src: url('../fonts/Go-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Go';
	src: url('../fonts/GoMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Go';
	src: url('../fonts/Go-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Go';
	src: url('../fonts/GoRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Go Mono';
	src: url('../fonts/GoMono-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Go Mono';
	src: url('../fonts/GoMono.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Go Mono';
	src: url('../fonts/GoMono-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Go Mono';
	src: url('../fonts/GoMono-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
