@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');

body {
	font: 15px/1.5 Rubik, sans-serif;
	color: #333;
	margin: 25px;
}

h1, h2, h3, h4, h5, h6, h7 {
	margin-top: 30px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: thin solid #ddd;
}

h1, h2 {
	border-bottom: 0;
	margin-top: 20px;
}

.new {
	font-size: 11px;
	text-transform: uppercase;
	color: orangered;
	font-weight: normal;
}

sup.new { font-size: 8.5px; }

p {
	margin-top: 0;
}

a {
	color: inherit;
}

a:hover {
	color: #666;
	text-decoration: none;
}

code, pre {
	background: #eee;
}

code {
	padding: 3px 7px;
}

pre {
	padding: 8px;
	overflow: scroll;
}

.root {
	color: #777;
}

pre, code {
	background-color: #EBF9FF;
}

table {
	border-spacing: 0;
	border-collapse: separate;
}

tr.odd {
	background-color: #EBF9FF;
}

td {
	padding: 10px;
}

col {
	width: initial !important;
}

tr td:nth-child(1) {
	width: 25%;
}

@media (min-width: 800px) {
	body {
		width: 768px;
		margin: 50px auto;
	}

	h1, h2, h3, h4, p, ul, table {
		margin-left: 60px;
		margin-right: 60px;
	}

	ul ul {
		margin-left: 0;
	}

	pre {
		padding-left: 60px;
		overflow: visible;
	}
}
